<h3>All Goals</h3>
<ul>
<% @goals.each do |goal| %>
<li>
  <%= link_to goal.name, goal_url(goal) %>
  <% if goal.user_id == current_user.id %>
    <%= link_to "Edit Goal", edit_goal_url(goal) %>
  <% end %>
</li>
<% end %>

</ul>

<%= link_to "Create New Goal", new_goal_url %>
